.App {
  text-align: center;
}

.pageDiv {
  margin-top: 20dp;
}

#outer {
  width: 500px;
  height: 200px;
  background: #ffcccc;
  margin: 50px auto;
  overflow: hidden;
}
#inner {
  background: #ffcc33;
  height: 50px;
  margin: 50px;
}

.btn {
  margin-top: 50dp;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
